<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>...comparar {{title}}</title>

  {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

  <!-- Pulling ourselves up by others' Bootstap :D -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="box box-element">
	<div class="view">
		<div class="jumbotron" id="blah" contenteditable="false">

			<h1>comparar</h1>
			<p>
        everything you don't want to know about anything
      </p>


      <form method="POST" class="input-items">
          {% csrf_token %}
          <input name="input_left" placeholder="compare this"></input>
          <input name="input_right" placeholder="with this"></input>
          <input type="submit" value="compare some stuff" class="btn btn-primary btn-large">
      </form>
		</div>
	</div>
   <br/>
  <section>
    <div id="left">
      <h2>{{item_left}}</h2>
      <img src="{{image_left}}">
    </div>
    <div id="right">
      <h2>{{item_right}}</h2>
      <img src="{{image_right}}">
    </div>
  </section>

</body>

</html>
