<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>...comparar{{title}}</title>

  {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

  <!-- Pulling ourselves up by others' Bootstap :D -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="box box-element">
	<div class="view">
		<div class="jumbotron" id="blah" contenteditable="false">

			<h1>comparar</h1>
			<p>
        everything you don't want to know about anything
      </p>


      <form method="POST" class="input-items">
          {% csrf_token %}
          <input name="input_left" placeholder="compare this"></input>
          <input name="input_right" placeholder="with this"></input>
          <input type="submit" value="compare some stuff" class="btn btn-primary btn-large">
      </form>
		</div>
	</div>
   <br/>
  {% if status == 'success' %}

  <section>
    <div id="left">
      <h2>{{item_left}}</h2>
      <img src="{{image_left}}">
    </div>
    <div id="right">
      <h2>{{item_right}}</h2>
      <img src="{{image_right}}">
    </div>
  </section>

  <div id="amazon">
      <h4>
          <a href="{{amazon_url}}">Buy {{winner}} on Amazon!</a>
      </h4>
  </div>

<br/><br/><br/><br/>

  <section class="container-fluid vertical-center center">
  <div id="results" class="lead">
    <h2>Results</h2>
    <p> The Twitter sentiment for
      <strong>{{winner}}</strong> is X.
      <strong>{{loser}}&#39s</strong> is Y.
    </p>
    <p> More extreme sentiment, regardless of whether sentiment was positive, meant higher scores, because
      <strong>passion.</strong> </p>
    <p> Gender guesser guessed that
      <strong>{{winner}}</strong> is a X, and that
      <strong>{{loser}}</strong> is a Y.
    </p>
    <p> Being a female gives you a 150% kicker because,
      <strong>diversity.</strong>
    </p>
    <p>
      <strong>{{winner}}</strong> has X synonyms,
      <strong>{{loser}}</strong> has Y.
    </p>
    <p> More synonyms amplified
      <strong>{{winner}}&#39s</strong> score, because
      <strong>ubiquity.</strong>
    </p>
    <p>
      <strong>{{winner}}</strong> has X synonyms,
      <strong>{{loser}}</strong> has Y.
    </p>
    <p> More antonyms amplified
      <strong>{{winner}}&#39s</strong> score, because
      <strong>disruptive.</strong> </p>
    <p> Angellist notes X startups related to
      <strong>{{winner}}</strong>, versus Y for
      <strong>{{loser}}</strong>. </p>
    <p> More startups means a higher score, because
      <strong>buzz.</strong> </p>
    <p> The top 40 Google Books on the subject of
      <strong>{{winner}}</strong>.
    </p>
    <p> More pages means a higher score, because
      <strong>verbosity.</strong>  </p>
    <p> Finally,
      <strong>{{winner}}</strong> turns up X results on Google, while
      <strong>{{loser}}</strong> turns up only Y.
    </p>
    <p> More results on Google means a higher score, because
      <strong>big data.</strong>
    </p>
  </div>
  </section>
  </div>
  <section class="container-fluid">
  <div id="results" class="lead">
    <h2>Results</h2>
    <p> The Twitter sentiment for {{winner}} is X. {{loser}}&#39s is Y. </p>
    <p> More extreme sentiment, regardless of whether sentiment was positive, meant higher scores, because <strong>passion.</strong> </p>
    <p> Gender guesser guessed that {{winner}} is a X, and that {{loser}} is a Y. </p>
    <p> Being a female gives you a 150% kicker because, <strong>diversity.</strong> </p>
    <p> {{winner}} has X synonyms, {{loser}} has Y. </p>
    <p> More synonyms amplified {{winner}}&#39s score, because <strong>ubiquity.</strong> </p>
    <p> {{winner}} has X synonyms, {{loser}} has Y. </p>
    <p> More antonyms amplified {{winner}}&#39s score, because <strong>disruptive.</strong> </p>
    <p> Angellist notes X startups related to {{winner}}, versus Y for {{loser}}. </p>
    <p> More startups means a higher score, because <strong>buzz.</strong> </p>
    <p> The top 40 Google Books on the subject of {{winner}}.  </p>
    <p> More pages means a higher score, because <strong>verbosity.</strong>  </p>
    <p> Finally, {{winner}} turns up X results on Google, while {{loser}} turns up only Y. </p>
    <p> More results on Google means a higher score, because <strong>big data.</strong>  </p>
  </div>
  </section>

  {% elif status == 'fail' %}
    <h1>
      try again :(
    </h1>

  {% endif %}
</body>

</html>
