/************************************************
GENERAL
************************************************/

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    margin: 0;
}
