/************************************************
GENERAL
************************************************/

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    margin: 0;
}

.view {
  margin-top: 5em;
}

#blah {
  padding-left: 5em;
}
