/* general stylings and resources */

.col-centered{
    float: none;
    margin: 0 auto;
}

.custom-btn {
    color: #fff;
    font-size: 2em;

    height: 50px;
    min-width: 300px;

    background-color: #00A2D2;
    border: 1px solid transparent;
    border-radius: 4px;
}

.small-text {
    font-size: 1em;
}



/* the top search box */
#top-box {
    margin-top: 5em;
    background: #ddd;
    height: 470px;
    text-align: center;
}

.input-text {
    height: 50px;
    width: 12.5em;
    font-size: 2em;
    padding: 10px;
}

/* the images with titles */

#images {
    height: 23em;
    background: #ddd;
}

#images img {
    max-height: 15em;
    border: 2px solid #bbb;
    border-radius: 5px;
}

/* the winner announcement */

#winner {
    text-align: center;
}


/* the results box */

section {
    width: 100%;
    height: 23em;
    background: #ddd;
    margin: auto;
    padding: 10px;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* rows */

.top-buffer {
    margin-top:20px;
}

.logo img {
    width:800px;
    height: 230px;
}

.left-buffer {
    margin-left: 20px;
}
